name: Cmake-ci

'on':
    pull_request:
    push:
        branches:
          - master
          - dev*
          - feature/**

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
    MSVC:
        runs-on: windows-2019
        name: windows-2019
        strategy:
            fail-fast: false
            matrix: 
               os: [windows-2019]


        steps:
          - name: Checkout
            uses: actions/checkout@v3
            with:
                fetch-depth: 0
          - uses: actions/setup-python@v4
            with:
                python-version: '3.10' 
                cache: 'pip' # caching pip dependencies
          - name: Conan detect
            run: |
                pip install "conan>=1.51.0,<2.0.0"
                conan profile new --detect default

          - name: Run conan
            run: |
                mkdir ${{github.workspace}}/build
                conan install  . --build=missing -pr:b=default -if ${{github.workspace}}/build
          - name: Configure CMake
            run: cmake -DCMAKE_BUILD_TYPE="${{env.BUILD_TYPE}}" -DCMAKE_PREFIX_PATH:PATH=${{github.workspace}}/build -Dagg_USE_AGG2D:BOOL=ON -Dagg_USE_AGG2D_FREETYPE:BOOL=ON -Dagg_USE_EXPAT:BOOL=ON -Dagg_USE_FREETYPE:BOOL=ON -Dagg_USE_GPC:BOOL=ON -B "${{github.workspace}}/build" .

          - name: Build
            run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
